.card {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.title {
  font-weight: 300px;
  font-size: 17px;
  margin: 10px;
  color: rgb(170, 18, 18);
}
.price {
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(58, 51, 51);
  font-weight: 600;
}
.desc {
  text-align: center;
  margin: 10px;
  color: rgb(112, 103, 103);
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}
