.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(19, 18, 18);
  height: 470px;
}
.image {
}
.container {
  display: flex;
  flex-direction: row;
  width: 81%;
  height: 100%;
}
.textContainer {
  color: beige;
  font-size: 22px;
  display: flex;
  width: 400px;
  padding: 80px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 06px;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  align-items: flex-start;
  width: 400px;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 0;
  width: 400px;
}
.headding {
  font-size: 18px;
  font-weight: 500;
  color: rgba(182, 182, 23, 0.755);
  margin-bottom: 20px;
}
.body {
  width: 50%;
  letter-spacing: 0.6px;
  font-weight: 200;
  color: azure;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .image {
    display: none;
  }
  .container {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .textContainer {
    padding: 20px 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .footer {
    height: auto;
    width: 100vw;
  }
  .headding {
    font-size: 12px;
    width: 100%;
  }
  .contact {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .time {
    padding: 0 10%;
    width: 80%;
    text-align: center;
    margin: 20px 0;
  }
  .body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
